.popup__button-close {
  width: 40px;
  height: 40px;
  background-image: url("../../../images/icons/button-close-icon.svg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center center;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 614px) {
  .popup__button-close {
    width: 26px;
    height: 26px;
    top: -39.62px;
    right: 0;
  }
}
