.element__button-like {
  width: 21px;
  height: 19px;
  background-image: url("../../../images/icons/heart-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border: none;
  background-color: #ffffff;
}

.element__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}
